<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a98606b-e490-4c1f-8316-4f067743555d/resourcegroups/TePrestoApi20230220174526ResourceGroup/providers/Microsoft.Web/sites/TePrestoApis</ResourceId>
    <ResourceGroup>TePrestoApi20230220174526ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0a98606b-e490-4c1f-8316-4f067743555d/resourceGroups/TePrestoApi20230220174526ResourceGroup/providers/Microsoft.ApiManagement/service/TePrestoApiTest/apis/TePrestoApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teprestoapis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dcd0247c-705a-4a0d-a053-2fd619185236</ProjectGuid>
    <MSDeployServiceURL>teprestoapis.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TePrestoApis</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TePrestoApis</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>